{
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "extends": "airbnb-base",
  "rules": {
    "array-bracket-spacing": [
      "warn",
      "always"
    ],
    "max-len": [
      "warn",
      {
        "code": 80
      }
    ],
    "strict": "off",
    "semi": [
      "error",
      "always"
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "never",
        "named": "never"
      }
    ],
    "class-methods-use-this": "off",
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": "always",
        "ObjectPattern": {
          "multiline": false
        },
        "ImportDeclaration": "never",
        "ExportDeclaration": {
          "multiline": true,
          "minProperties": 3
        }
      }
    ],
    "global-require": "off",
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ]
  },
  "globals": {
    "use": true
  }
}